<h1>Dashboard</h1>
<h2><%= "#{@current_trimester.term} - #{@current_trimester.year}" %></h2>
<ul>
 <% @current_trimester.courses.each do |course| %>
   <li><a href=""><%= course.coding_class.title %></a></li>
 <% end %>
</ul>

<% if @upcoming_trimester %>
  <p>Upcoming Trimester: <%= @upcoming_trimester.term %> - <%= @upcoming_trimester.year %></p>
<% else %>
  <p>No upcoming trimester found.</p>
<% end %>